<!--1) Creați o pagină numită index.html. Adăugați doctype și setați limba documentului în tagul html-->
<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="truckstore, truck, man, scania, volvo, daf, camion, alextrucks"> <!--9)Textul trebuie să conțină toate cuvintele cheie identificate pentru pagina curentă-->
    <meta name="description" content="EROARE 404">
    <!--3) Adaugati un title corespunzator continutului textului-->
    <title>AlexTruck Store</title>
    <%- include("../fragmente/head.ejs") %>
</head>
<body>

<%- include("../fragmente/header.ejs") %>
<main>
    <img src="/resurse/img/oferta.jpg" alt="In curand vei putea solicita aici oferta!">
</main>
<%- include("../fragmente/footer.ejs") %>
</body>
</html>