.galerie-statica{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.galerie-statica img{
    width: 100%;
}

.fig-cap-galerie-statica{
    text-align: center;
    transition: all 1.1s ease-in-out
}

.galerie-tranzitie:hover .galerie-picture{
    animation-name: changeContrast;
    animation-duration: 1.1s;
    animation-fill-mode: forwards;
}

.galerie-tranzitie:hover .fig-cap-galerie-statica{
    transform: scale(2,2);
}

.galerie-statica>figure:nth-child(1){
    grid-area: 1/1/2/2;
}
.galerie-statica>figure:nth-child(2){
    grid-area: 1/3/2/4;
}
.galerie-statica>figure:nth-child(3){
    grid-area: 2/2/3/3;
}
.galerie-statica>figure:nth-child(4){
    grid-area: 3/1/4/2;
}
.galerie-statica>figure:nth-child(5){
    grid-area: 3/3/4/4;
}
.galerie-statica>figure:nth-child(6){
    grid-area: 4/2/5/3;
}
.galerie-statica>figure:nth-child(7){
    grid-area: 5/1/6/2;
}
.galerie-statica>figure:nth-child(8){
    grid-area: 5/3/6/4;
}
.galerie-statica>figure:nth-child(9){
    grid-area: 6/2/7/3;
}

@media screen and (max-width: 1000px){
    .galerie-statica{
        grid-template-columns: repeat(2,1fr);
    }

    .galerie-statica>figure:nth-child(1){
        grid-area: 1/1/2/2;
    }
    .galerie-statica>figure:nth-child(2){
        grid-area: 1/2/2/3;
    }
    .galerie-statica>figure:nth-child(3){
        grid-area: 2/1/3/2;
    }
    .galerie-statica>figure:nth-child(4){
        grid-area: 2/2/3/3;
    }
    .galerie-statica>figure:nth-child(5){
        grid-area: 3/1/4/2;
    }
    .galerie-statica>figure:nth-child(6){
        grid-area: 3/2/4/3;
    }
}

@media screen and (max-width:450px){
    .galerie-statica {
        display:block;
    }
}

@keyframes changeContrast {
    0%   {
        filter: contrast(100%);
    }
    100% {
        filter: contrast(200%);
    }
}