<header>
    <h1 id="top">AlexTrucks Dealer</h1>
    <!--6) În header faceți un sistem de navigare ca în curs(nav cu listă neordonată de linkuri), cu opțiuni  principale și secundare
    (pentru opțiunea "Acasă", adică pagina principală, subopțiunile vor cuprinde linkuri către secțiunile paginii, care vor avea id-uri relevante).
    Folosiți în header h1 pentru titlul site-ului.-->
    <nav>
        <ul>
            <li> <a href="#despre-noi">Pagina principala</a></li>
            <li> <a href="#catalog">Catalog </a>
                <ul>
                    <li> <a href="#volvo">Volvo</a></li>
                    <li> <a href="#scania">Scania</a></li>
                    <li> <a href="#man">MAN</a></li>
                    <li> <a href="#daf">DAF</a></li>
                </ul> </li>
            <!--11) un link extern (se va deschide in fereastră nouă)-->
            <li> <a href="oferta.html">Solicita o oferta</a></li>
            <li> <a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>